@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background: hsl(212, 45%, 89%);
    max-height: 800px;
    max-width: 1440px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

main {
    width: 310px;
    height: 500px;
    background: hsl(0, 0%, 100%);
    margin: 140px 0 130px 0;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    border-radius: 5%;
    height: 300px;
    width: 280px;
    margin: 15px 15px 0 15px;
}

.texto {
    width: 270px;
}

h3 {
    font-size: 23px;
    color: hsl(218, 44%, 22%);
}

p {
    font-size: 16px;
    color: hsl(220, 15%, 55%);
}

.attribution {
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 376px) {
    main {
        margin: 65px 0;
    }
}